@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
[x-cloak] {
    display: none;
}


.rubik-100 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  .rubik-200 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }


  .rubik-300 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .rubik-400 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .rubik-500 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }


/* Filament Tables Customization */

.filament-tables-header-cell button {
  @apply !text-white;
  @apply !border-gray-100;
}

.fi-ta-table th {
    @apply !bg-sksu-700;
  }


.fi-ta-header-cell-label
{
    @apply !text-white;

}

.columns-table {
  @apply !w-[100rem];
}
.active-link {
  @apply text-sksu-700 bg-gray-100 rubik-400 hover:bg-gray-50 flex gap-x-3 rounded-md px-1 py-2 text-base leading-6 font-semibold;
  transition: background-color 0.15s ease-out, transform 0.15s ease-out;
}

.inactive-link {
  @apply text-gray-700 rubik-400 hover:text-sksu-700 hover:bg-gray-100 flex gap-x-3 rounded-md p-2 text-base leading-6 font-semibold;
  transition: background-color 0.15s ease-out, color 0.15s ease-out, transform 0.15s ease-out;
}

.active-link:hover,
.inactive-link:hover {
  transform: scale(1.02); /* Slightly enlarge on hover */
}




.fi-ta-header-cell-sort-icon{
    @apply text-white;

}
.fi-ta-text-item-label{
    @apply text-base  leading-6 text-gray-600 dark:text-white;
}
.fi-ta-group-header h4{
    @apply  text-base text-sksu-700 ;
}
.fi-fo-field-wrp-label span{
  font-weight: normal;
}

.fi-section-header-heading{
  font-weight: normal;
}